body {
    font-family: 'Lobster', cursive;
    background-color: #FDF5E6;
    color: #7A4E39;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 1 0 100%;
    background-size: cover;
    background-position: center;
  }
  
  .slide1 {
    background-image: url('/public/img/coffee-img-header-4.jpg');
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }
  
  .slide2 {
    background-image: url('/public/img/coffee-img-header-5.jpg');
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }
  
  .slide3 {
    background-image: url('/public/img/coffee-img-header-6.jpg');
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
 
  }
  .slide4 {
    background-image: url('/public/img/coffee-img-header-7.jpg');
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }
  
  .animated-text {
    opacity: 0;
    transform: translateY(15px);
    animation: apparition 0.6s 0.4s ease forwards;
  }

  
  .slider-controls {
    width: 100%;
    position: relative;
    bottom: 350px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slider-control{
    border: none;
    color: #7A4E39;
    background-color: #FDF5E6;
    padding: 0 13px 7px;
    border-radius: 8px;
    margin: 8px;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.4s;
  }
  .slider-control:hover{
    transition: 0.3s;
    background-color: #ecdfc7;
    color: #5a3321;
  }
  @media (max-width: 768px) {
    .slider-controls {
      display: none;
    }
  }
  @media screen and (max-width: 900px) {
    .slide1 {
      background-image: url('/public/img/coffee-img-header-8.jpg');
    }
    
    .slide2 {
      background-image: url('/public/img/coffee-img-header-9.jpg');
    }
    
    .slide3 {
      background-image: url('/public/img/coffee-img-header-10.jpg');
   
    }
    .slide4 {
      background-image: url('/public/img/coffee-img-header-11.jpg');
    }
    .slider-controls {
      bottom: 280px;
    }
  }
  .articles{
    width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  
  h2{
    color: rgb(179, 110, 110);
    font-size: 2.8rem;
    text-align: center;
    margin: 18px auto;
  }
  .article{
    width: 320px;
    padding: 10px 30px 0;
    margin: 25px 80px;
    border-radius: 6px;
    
    flex: 0 0 5%;
    background-color: #ecdfc7;
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.4);
  }
  .article img{
    width: 250px;
    height: 325px;
    display: block;
    margin: auto;
  }
  .article h3{
    color: rgb(179, 110, 110);
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    text-align: center;
    margin: 18px auto;
  }
  .article .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto 10px;
  }
  .article p{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  .article h4{
    font-size: 1.5rem;
    color: rgb(110, 179, 131);
  }
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    height: 120px;
}
.defile{
  width: 98%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.defile button{
  padding: 10px 25px;
  border: none;
  font-size: 18px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
