nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7A4E39;
}
nav div{
    opacity: 0;
    animation: apparition 0.4s 0.4s ease forwards;
}
nav .navbar-auth, nav .navbar-collapse, .navbar-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px 15px;
}
nav .navbar-auth a, nav .navbar-collapse a {
    color: white;
    border-bottom: 2px solid #38221000;
    padding: 5px;
    margin: 5px;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    text-decoration: none;
    transition: 0.4s;
}
nav .logo{
    width: 80px;
    margin: 4px 30px;
    text-decoration: none;
}
nav .navbar-auth a:hover, nav .navbar-collapse a:hover{
    transition: 0.3s;
    color: #382210;
    border-bottom: 2px solid #382210;
}
nav li{
    list-style: none;
}
nav .navbar-auth img{
    width: 30px;
}
nav .navbar-auth a{
    border: none;
}
nav .navbar-auth a:hover{
    border: none;
}
.burger{
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 62px;
    height: 62px;
    cursor: pointer;
    transition: 0.5s;
    position: fixed;
    top: 7px;
    right: 7px;
}
.burger:hover{
    transition: 0.3s;
}


.burger span{
    display: block;
    width: 90%;
    margin: 5px;
    height: 5px;
    border: none;
    background-color: #7A4E39;
    border-radius: 10px;
    transition: 0.5s;
}
aside{
    display: none;
}
@media screen and (max-width: 600px) {
    nav{
        display: none;
    
    }
    .burger{
        display: flex;
        z-index: 150;
    }
    .croix span:nth-child(1){
        transform: rotateZ(45deg);
        position: absolute;
        top: 23px;
        transition: 0.3s;
    }
    .croix span:nth-child(2){
        position: absolute;
        bottom: 24px;
        transition: 0.3s;
        transform: rotateZ(-45deg);


    }
    .croix span:nth-child(3){
        transform: rotateZ(-45deg);
        position: absolute;
        bottom: 24px;
        transition: 0.3s;

    }
    aside{
    background-color: #151515;
    position: fixed;
    right: -301px;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 15;
    transition: 0.5s;
    
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    }
    aside li{
        list-style: none;
    }
    aside img{
        width: 100px;
    }
    aside a:nth-child(1){
        margin-left: 8px;
        margin-top: 8px;
    }
    aside .navbar-list, aside .navbar-auth{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    aside .navbar-list a, aside .navbar-auth a{ 
        text-decoration: none;
        margin: 0px 20px;
        padding: 12px;
        color: white;
        font-size: 22px;
        text-transform: uppercase;
        transition: 0.5s;
        border-bottom: 1px solid #ff440000;
    }
    aside .navbar-list a:hover, aside .navbar-auth a:hover{
        transition: 0.3s;
        color: #FDF5E6;
        border-bottom: 1px solid #FDF5E6;
    
    }
    aside .navbar-list li{
        margin: 0px 8px;
        padding: 8px;
    }
}