@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@400;500;600;700&family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #fffbf4;
}
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}



.ap {
    
    margin: 15px auto 5px;
    display: block;
    background-color: #7A4E39;
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .ap:hover , .ap:focus  {

    background-color: #5E3B29;
    outline: none;
    transition: 0.3s;
   
  }

  
  
  



