body {
    font-family: 'Lobster', cursive;
    color: #7A4E39;
  }
  
  .info-compte {
    margin: 20px;
    background-color: #7A4E39;
    color: #FDF5E6;
    padding: 20px;
    border-radius: 5px;
  }
  
  .info-compte h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .info-compte-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .presentation {
    width: 45%;
  }
  
  .presentation h3 {
    margin-bottom: 5px;
  }
  
  button {
    display: flex;
    margin: auto;
  }

  button[type="submit"] {
    background-color: #7A4E39;
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #5E3B29;
  }
  
  button[type="submit"]:focus {
    outline: none;
  }
  
  h2 , h1 {
    text-align: center;
    margin-top: 80px;
  }
  @media screen and (max-width: 900px) {
    h3{
      font-size: 1rem;
    }
    .info-compte-2 :nth-child(1):not(.presentation :nth-child(1)){
      width: 25%;
    }
    .info-compte-2 :nth-child(2):not(.presentation :nth-child(2)){
      width: 75%;
    }
    .info-compte h3 {
      font-size: 18px;
    }
    .info-compte{
      margin: 14px 0px;
      padding: 6px;
    }
  }